/* header.css */

.outer-container {
  width: 100%;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.inner-container {
  max-width: 1400px;
  display: flex;
  gap: 200px;
  justify-content: center;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

.logo-container img {
  height: 30px;
  margin-right: 10px;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Navigation Styles */
.nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 23px;
  font-size: 15px;
  font-style: normal;
}

.nav-list li a {
  text-decoration: none;
  font-size: 15px;
  font-family: Lato, sans-serif;
  color: #3b455a;
  margin-right: 20px;
  font-weight: 700;
  line-height: 23px;
  font-style: normal;
}
.nav-list a:hover {
  color: #ffa44a;
}

/* Button Styles */
.button-container {
  background-color: #516cf0;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  height: 41px;
  text-align: center;
  width: 200px;
  margin-left: 10px;
}

.button-container:hover {
  background-color: #ff8500;
}

/* Global styles, if any... */

@media (max-width: 768px) {
  /* Mobile styles */
  .outer-container {
    min-width: 320px;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
    font-size: 28px;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1;
    margin-left: 30px;
    margin-top: 7px;
  }

  .nav-container.open {
    display: flex;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgb(85, 85, 85);
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .nav-list li {
    width: 100%;
  }
  .button-container {
    width: 180px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    color: beige rgb(85, 85, 85);
    font-family: Lato, sans-serif;
  }

  /* ...other styles... */

  .divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
  }
  .logo-container img {
    height: 27px;
    margin-right: 10px;
  }
}
